# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Django stuff:
*.sqlite3
*.log
*.pot
db.sqlite3

# Secret config files
.env
*.env

# VS Code / JetBrains IDEs
.vscode/
.idea/

# Static + media (optional for prod builds)
staticfiles/
media/

# Django migrations
**/migrations/*.py
!**/migrations/__init__.py

# Coverage / test / debug
coverage/
htmlcov/
*.cover
*.py,cover
.cache/
.pytest_cache/

# System files
.DS_Store
Thumbs.db
