<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sports News</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <div id="navbar">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a href="{% url 'home' %}">
          <img id="logo" src="{% static 'img/Logo.png' %}" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="{% url 'national' %}">National</a>
            <a class="nav-link" href="{% url 'international' %}">International</a>
            <a class="nav-link" href="{% url 'sports' %}">Sports</a>
            <a class="nav-link" href="{% url 'health' %}">Health</a>
            <a class="nav-link" href="{% url 'science' %}">Science</a>
          </div>
          <form class="d-flex ms-auto me-2" role="search" id="search" method="get" action="{% url 'sports' %}">
            <input class="form-control me-1" type="search" name='q' placeholder="Search" aria-label="Search" value="{{ request.GET.q }}">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            {% if user.is_authenticated %}
              <a class="btn btn-primary me-md-2" href="{% url 'profile' %}">Profile</a>
              <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
            {% else %}
              <a class="btn btn-primary me-md-2" href="{% url 'signup' %}">Sign Up</a>
              <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="container mt-4">
    <h1>Sports News</h1>
    <div class="row">
      {% for news in news_data %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <a id="news_link" href="{{ news.url }}" target="_blank">
            {% if news.image_url %}
              <img src="{{ news.image_url }}" class="card-img-top" alt="News Image">
            {% else %}
              <img src="{% static 'img/default-image.jpg' %}" class="card-img-top" alt="Default Image">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ news.headline }}</h5>
            </div>
          </a>
          <div class="card-body news-actions">
            
            <i class="fas fa-share-alt icon" title="Share" onclick="share('{{ news.full_url }}', '{{ news.headline }}')"></i>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <script>
    
    function share(url, title) {
      if (navigator.share) {
          navigator.share({
              title: title,
              url: url
          }).then(() => {
              console.log('Thanks for sharing!');
          }).catch(err => {
              console.error('Error sharing:', err);
          });
      } else {
          alert('Share clicked');
          navigator.clipboard.writeText(url).then(() => {
              alert('Link copied to clipboard');
          }).catch(err => {
              console.error('Could not copy text: ', err);
          });
      }
    }
  </script>
</body>
</html>
